---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":598955}'
  recorded_at: Thu, 07 Mar 2024 12:07:19 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=1960-01-01&filtreNom=Ajaccio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"20004","uri":"http://id.insee.fr/geo/commune/48fd09cd-ade2-4fda-8552-c99b28775747","type":"Commune","dateCreation":"1943-01-01","dateSuppression":"1976-01-01","intituleSansArticle":"Ajaccio","typeArticle":"1","intitule":"Ajaccio"}]'
  recorded_at: Thu, 07 Mar 2024 12:07:20 GMT
recorded_with: VCR 6.1.0
