---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":602001}'
  recorded_at: Thu, 07 Mar 2024 11:16:33 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=1980-01-01&filtreNom=L%27Oudon
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"14624","uri":"http://id.insee.fr/geo/commune/52178819-ba30-4d31-b145-036ca37a038e","type":"Commune","dateCreation":"1973-01-01","dateSuppression":"1990-02-01","intituleSansArticle":"Oudon","typeArticle":"5","intitule":"L''Oudon"}]'
  recorded_at: Thu, 07 Mar 2024 11:16:35 GMT
recorded_with: VCR 6.1.0
