---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":602012}'
  recorded_at: Thu, 07 Mar 2024 11:16:22 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2010-01-01&filtreNom=Saint-Laurent-l%27Abbaye
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"58248","uri":"http://id.insee.fr/geo/commune/31259501-7d28-4dc5-9f3e-7b7849faba73","type":"Commune","dateCreation":"2001-02-04","intituleSansArticle":"Saint-Laurent-l''Abbaye","typeArticle":"0","intitule":"Saint-Laurent-l''Abbaye"}]'
  recorded_at: Thu, 07 Mar 2024 11:16:24 GMT
recorded_with: VCR 6.1.0
