---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"228b0cf6-a049-30f7-af88-8e267f96b299","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":151095}'
  recorded_at: Wed, 12 Apr 2023 20:10:47 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Le%20Teich
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"33527","uri":"http://id.insee.fr/geo/commune/6c1c21be-37a6-41e3-b53e-944496a4604a","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Teich","typeArticle":"2","intitule":"Le
        Teich"}]'
  recorded_at: Wed, 12 Apr 2023 20:10:49 GMT
recorded_with: VCR 6.1.0
