---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":602013}'
  recorded_at: Thu, 07 Mar 2024 11:16:21 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Saint-Laurent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"01370","uri":"http://id.insee.fr/geo/commune/455e1b2a-b841-4142-b41c-d4468f95d7bf","type":"Commune","dateCreation":"1958-12-19","intituleSansArticle":"Saint-Laurent-sur-Saône","typeArticle":"0","intitule":"Saint-Laurent-sur-Saône"},{"code":"04186","uri":"http://id.insee.fr/geo/commune/6e98ab1e-45b9-4e3d-8358-12c524234a0a","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Laurent-du-Verdon","typeArticle":"0","intitule":"Saint-Laurent-du-Verdon"},{"code":"05148","uri":"http://id.insee.fr/geo/commune/6c98f801-8ca3-41ef-ad0c-d0a2d5e7b64b","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Laurent-du-Cros","typeArticle":"0","intitule":"Saint-Laurent-du-Cros"},{"code":"06123","uri":"http://id.insee.fr/geo/commune/161366b4-5ffb-4bb3-af2e-586e347bedae","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Laurent-du-Var","typeArticle":"0","intitule":"Saint-Laurent-du-Var"},{"code":"07261","uri":"http://id.insee.fr/geo/commune/638c62cb-10b5-4099-b6c3-79e4acafecd8","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Laurent-du-Pape","typeArticle":"0","intitule":"Saint-Laurent-du-Pape"},{"code":"07262","uri":"http://id.insee.fr/geo/commune/87c30362-e93f-4e9d-9d44-00265a556239","type":"Commune","dateCreation":"1943-01-01","dateSuppression":"2019-01-01","intituleSansArticle":"Saint-Laurent-les-Bains","typeArticle":"0","intitule":"Saint-Laurent-les-Bains"},{"code":"07263","uri":"http://id.insee.fr/geo/commune/ad354b67-0811-495c-a4a5-a3eaa3d3c1b7","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Laurent-sous-Coiron","typeArticle":"0","intitule":"Saint-Laurent-sous-Coiron"},{"code":"08385","uri":"http://id.insee.fr/geo/commune/96aaeec4-f258-44cf-afea-90eba20d4fb5","type":"Commune","dateCreation":"1943-01-01","[...]
