---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":600015}'
  recorded_at: Thu, 07 Mar 2024 11:49:39 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Dzaoudzi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 404
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Mar 2024 11:49:41 GMT
recorded_with: VCR 6.1.0
