---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":603667}'
  recorded_at: Thu, 07 Mar 2024 10:48:48 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Niederschaeffolsheim
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"67331","uri":"http://id.insee.fr/geo/commune/b4db5baf-5510-4b37-bb99-6236a68f5c04","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Niederschaeffolsheim","typeArticle":"0","intitule":"Niederschaeffolsheim"}]'
  recorded_at: Thu, 07 Mar 2024 10:48:49 GMT
recorded_with: VCR 6.1.0
