---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"228b0cf6-a049-30f7-af88-8e267f96b299","scope":"am_application_scope
        default","token_type":"Bearer","expires_in":151093}'
  recorded_at: Wed, 12 Apr 2023 20:10:49 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=1960-01-01&filtreNom=Gennevilliers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"75036","uri":"http://id.insee.fr/geo/commune/1b8452d3-6e51-4393-b733-e128b776fe17","type":"Commune","dateCreation":"1943-01-01","dateSuppression":"1968-01-01","intituleSansArticle":"Gennevilliers","typeArticle":"0","intitule":"Gennevilliers"}]'
  recorded_at: Wed, 12 Apr 2023 20:10:51 GMT
recorded_with: VCR 6.1.0
