---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":600772}'
  recorded_at: Thu, 07 Mar 2024 11:37:02 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2012-01-01&filtreNom=Dzaoudzi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"97608","uri":"http://id.insee.fr/geo/commune/a0eb5908-8f6f-4fb1-8aa2-a2c4e64dd93f","type":"Commune","dateCreation":"2011-03-31","dateSuppression":"2023-08-27","intituleSansArticle":"Dzaoudzi","typeArticle":"0","intitule":"Dzaoudzi"}]'
  recorded_at: Thu, 07 Mar 2024 11:37:03 GMT
recorded_with: VCR 6.1.0
