---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":602103}'
  recorded_at: Thu, 07 Mar 2024 11:14:51 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=1980-01-01&filtreNom=Ajaccio
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"2A004","uri":"http://id.insee.fr/geo/commune/b0f792b0-8575-48a4-8b5d-96222c49a195","type":"Commune","dateCreation":"1976-01-01","intituleSansArticle":"Ajaccio","typeArticle":"1","intitule":"Ajaccio"}]'
  recorded_at: Thu, 07 Mar 2024 11:14:52 GMT
recorded_with: VCR 6.1.0
