---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":603664}'
  recorded_at: Thu, 07 Mar 2024 10:48:51 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2020-01-01&filtreNom=Les%20Abrets%20en%20Dauphin%C3%A9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"38001","uri":"http://id.insee.fr/geo/commune/33dacf78-ea26-45fa-935d-d74a8dfae3ca","type":"Commune","dateCreation":"2016-01-01","intituleSansArticle":"Abrets
        en Dauphiné","typeArticle":"4","intitule":"Les Abrets en Dauphiné"}]'
  recorded_at: Thu, 07 Mar 2024 10:48:52 GMT
recorded_with: VCR 6.1.0
