---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":603665}'
  recorded_at: Thu, 07 Mar 2024 10:48:49 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=1990-01-01&filtreNom=Querqueville
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"50416","uri":"http://id.insee.fr/geo/commune/2fc29993-b86a-4d19-9c70-2394b44eee03","type":"Commune","dateCreation":"1943-01-01","dateSuppression":"2016-01-01","intituleSansArticle":"Querqueville","typeArticle":"0","intitule":"Querqueville"}]'
  recorded_at: Thu, 07 Mar 2024 10:48:51 GMT
recorded_with: VCR 6.1.0
