---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":110178}'
  recorded_at: Thu, 13 Apr 2023 07:32:45 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Saint-Arnoult
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"14557","uri":"http://id.insee.fr/geo/commune/0ed50446-5665-45b4-8417-1f5e5551b174","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult","typeArticle":"0","intitule":"Saint-Arnoult"},{"code":"28324","uri":"http://id.insee.fr/geo/commune/1cce7843-2d29-41e2-ae70-f566f6230a91","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult-des-Bois","typeArticle":"0","intitule":"Saint-Arnoult-des-Bois"},{"code":"41201","uri":"http://id.insee.fr/geo/commune/7d77570d-fd1b-41e9-828f-bafeafeb5d25","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult","typeArticle":"0","intitule":"Saint-Arnoult"},{"code":"60566","uri":"http://id.insee.fr/geo/commune/7539b18a-57ff-4e80-8171-0a3b05891082","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult","typeArticle":"0","intitule":"Saint-Arnoult"},{"code":"76557","uri":"http://id.insee.fr/geo/commune/b804b10e-7573-43db-bf98-335f2fb2fd22","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult","typeArticle":"0","intitule":"Saint-Arnoult"},{"code":"78537","uri":"http://id.insee.fr/geo/commune/de637429-266d-4fd0-9a2f-e10a0746b136","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Arnoult-en-Yvelines","typeArticle":"0","intitule":"Saint-Arnoult-en-Yvelines"}]'
  recorded_at: Thu, 13 Apr 2023 07:32:47 GMT
recorded_with: VCR 6.1.0
