---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":108425}'
  recorded_at: Thu, 13 Apr 2023 08:01:58 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2000-01-01&filtreNom=Saint-Remy-en-Bouzemont-Saint-Genest-et-Isson
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"51513","uri":"http://id.insee.fr/geo/commune/d926be6d-206b-4f74-a2e7-032b25982876","type":"Commune","dateCreation":"1943-01-01","intituleSansArticle":"Saint-Remy-en-Bouzemont-Saint-Genest-et-Isson","typeArticle":"0","intitule":"Saint-Remy-en-Bouzemont-Saint-Genest-et-Isson"}]'
  recorded_at: Thu, 13 Apr 2023 08:01:59 GMT
recorded_with: VCR 6.1.0
