---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <INSEE_AUTH>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<BEARER_TOKEN>","scope":"am_application_scope default","token_type":"Bearer","expires_in":602003}'
  recorded_at: Thu, 07 Mar 2024 11:16:31 GMT
- request:
    method: get
    uri: https://api.insee.fr/metadonnees/V1/geo/communes?com=false&date=2010-01-01&filtreNom=Pont-Farcy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"code":"14513","uri":"http://id.insee.fr/geo/commune/24f6ab46-b89e-4418-b138-c3ba5af3b509","type":"Commune","dateCreation":"1973-05-01","dateSuppression":"2018-01-01","intituleSansArticle":"Pont-Farcy","typeArticle":"0","intitule":"Pont-Farcy"}]'
  recorded_at: Thu, 07 Mar 2024 11:16:33 GMT
recorded_with: VCR 6.1.0
